#home {

  height: calc(100vh - 4rem);

  #card {

    .card_radius {
      border-radius: 24px;
    }

    .card_radius_b {
      border-radius: 0 0 24px 24px;
    }

    .card_tag {
      padding: 0.5rem 0.75rem;
      color: white;
      background-color: rgb(144 144 144 / 50%);
      backdrop-filter: blur(8px);
      border-radius: 30px;
      margin: 10px;
      font-size: 0.9rem;
    }
  }

  @media screen and (max-width : 767px) {
    height: 100vh;
  }
}